$primary: #3f51b5;
$primary-dark: #002984;
$primary-light: #757de8;

$secondary: #fbc02d;
$secondary-dark: #c49000;
$secondary-light: #fff263;

$success: #00C851;
$success-dark: #007E33;


$neutral: #fafafa;

.success{
    color: $success;
}